## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBINIUS
.rbx
*.rbc

## BUNDLER
.bundle
Gemfile.lock

## PROJECT::GENERAL
coverage
rdoc
pkg
*.gem

## PROJECT::SPECIFIC
.rvmrc
